<nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="#"><span class="font-weight-bold text-uppercase text-dark">CS341 Project</span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- Link go to home--><a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <!-- Link go back to products for now--><a class="nav-link active" href="/">Shop</a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="/add-product">Add Products</a><a class="dropdown-item border-0 transition-link" href="/products">Admin Products</a></div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- TODO: create a cart page -->
                <a class="nav-link" href="cart.ejs"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-gray">(0)</small></a>
            </li>
            <li class="nav-item">
                <!-- TODO: create a login page -->
                <a class="nav-link" href="login.ejs"> <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a>
            </li>
        </ul>
    </div>
</nav>