<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head') %>
</head>

<body id="page-top">
    <%- include ('../includes/nav-shop') %>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">
                    <%= title %>
                </h1>
                <h3>The page you were looking for at "
                    <%= path %>" does not exist.</h3>
            </div>
        </header>
</body>

</html>